[run]
source =
    linkforge.core
    linkforge.blender
branch = True
parallel = True
relative_files = True

[paths]
source =
    core/src/linkforge/core
    platforms/blender/src/linkforge/blender
    */linkforge/core
    */linkforge/blender
